<!DOCTYPE html>
    <html>
        <style>
            error {
                color:red;
            }
        </style>
        <head>
            <h2>Sign Up</h2>
        </head>
        <body>
            <table>
            <form action="/welcome" method="POST">
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input name="username" id="username" type="text"/>
                    </td>
                    <td class="error"> {{erroruser}} </td>
                </tr>
                <tr>
                    <td>
                        <label for="pass">Password:</label>
                    </td>
                    <td>
                        <input name="pass" type="password" />
                    </td>
                    <td class ="error">{{keyerror}}</td>
                </tr>
                <tr>
                    <td> <label for="verify">Verify Password:</label></td>
                    <td> <input name="verify" type="password" /></td>
                    <td class ="error">{{verifyerror}}</td>
                </tr>
                <tr>
                <td><label for="email">Email (optional):</label></td>
                <td><input name="email" id="email" type="text" /></td>
                <td class="error"> {{emailerror}} </td>
                </tr>
                <tr><td><input type="submit" value="Submit" /></td></tr>
                
            </form>
            </table>
        </body>
    </html>